Repository lidqqq/template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.prettierignore
  .lintstagedrc
  .prettierignore
Due: none

add eslint
  .eslintrc
  .gitignore
  README.md
  package-lock.json
  package.json
Due: prettier --write

add .npmrc
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

fixed degit params
  README.md
Due: prettier --write

:memo: fixed README.md
  README.md
Due: prettier --write

:fire: remove package.json
  package.json
Due: prettier --write

:memo:
  README.md
Due: prettier --write

:dog:
  README.md
  package-lock.json
  package.json
  src/.gitkeep
  tsconfig.json
Due: prettier --write

:sparkles: typescript
  .dist/index.js
  .eslintrc
  .lintstagedrc
  package-lock.json
  package.json
  rollup.config.js
  src/.gitkeep
  src/dep.ts
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

:bug:
  .dist/index.js
Due: eslint --fix

:dog:
  README.md
Due: prettier --write

:dog:
  .gitignore
Due: none

:dog:
  package-lock.json
Due: prettier --write

:sparkles: rollup
  .eslintrc
  README.md
  package-lock.json
  package.json
  rollup.config.js
  src/index.js
Due: eslint --fix, prettier --write

:dog:
  package.json
Due: prettier --write

:dog:
  .eslintrc
Due: none

:dog:
  .eslintrc
  package.json
Due: prettier --write

:dog:
  .gitignore
  package.json
  tsconfig.json
Due: prettier --write

:dog:
  missing-types.d.ts
  rollup.config.js
  rp/README.md
  rp/consts.js
  src/conf/consts.js
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

:dog:
  types/missing-types.d.ts
Due: none

:dog:
  @rp/README.md
  @rp/consts.js
  rollup.config.js
  src/@types/README.md
  src/@types/missing-types.d.ts
  src/README.md
  src/app/dep.ts
  src/app/dep2.ts
  src/app/index.ts
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

:memo: modify readme
  README.md
Due: prettier --write

:memo: add annotations
  .gitignore
  README.md
Due: prettier --write

:dog:
  .nowignore
  now.json
Due: prettier --write

:dog: update some modules and audit fix
  package-lock.json
  package.json
Due: prettier --write

:package: update npm modules
  package-lock.json
  package.json
Due: prettier --write

update modules
  package-lock.json
  package.json
Due: prettier --write

update rollup
  package-lock.json
  package.json
Due: prettier --write

:dog: update nodejs version and audit
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{md,json,html,css}
